<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Snack | Login</title>
  </head>
  <body>
      <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="{{ url_for('usuario.logar') }}" method='POST' class="sign-in-form">
            <h2 class="title">Login</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="E-mail" name="email" required />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Senha" name="senha" required/>
            </div>
            <input type="submit" value="Entrar" class="btn solid" />
            <a href="{{ url_for('static', filename='painel.html') }}">PAINEL TESTE</a>
            <p class="social-text">Entre em nossas redes sociais</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
            </div>
          </form>
          <form action="{{ url_for('usuario.cadastrar_usuario') }}" method="POST" class="sign-up-form">
            <h2 class="title">Cadastrar</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" name="nome" required/>
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" name="email" required/>
            </div>
            
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Senha" name="senha" required />
            </div>
            <input type="submit" class="btn" value="Cadastrar" />
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Com fome?</h3>
            <p>
              Seja bem-vindo ao <b>Snack!</b>, cadastre-se aqui!
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Cadastre-se
            </button>
          </div>
          <img src="{{ url_for('static', filename='login.svg') }}" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>Já é um de nós?</h3>
            <p>
              Faça o seu login aqui, seja bem-vindo de volta!
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Login
            </button>
          </div>
          <img src="{{ url_for('static', filename='cadastro.svg') }}" class="image" alt="" />
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
